/* .column__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: .5rem;
  align-items: flex-start;
//    Uncomment these lines if you want to have the standard Trello behavior instead of the column wrapping 
  grid-auto-flow: column;
  grid-auto-columns: minmax(260px, 1fr);
} 
 */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

$primary_color: #ebeaf3;
$accent_color: #3f42aa;
$secondary_color: #959ace;
$extra_color: #fdb967;

$mobile: 440px;
$tablet: 840px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width:#{$mobile}) and ( max-width: #{$tablet}) {
    @content;
  }
}
@mixin mobile_tablet {
  @media (min-width:100px) and ( max-width: #{$tablet}) {
    @content;
  }
}

// body
body {
  background-color: $primary_color;
  width: 100%;
  height: auto 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  color: $accent_color;
  font-weight: bold;
  text-transform: capitalize;
}
p {
  color: darken($color: $secondary_color, $amount: 20);
}
// end of body

// header section
header {
  height: 50px;
  width: inherit;
  // border: 1px solid CYAN;
  padding-top: 10px;
  @include tablet {
    padding: 0px;
  }
  nav {
    margin: auto;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    // border: 1px solid red;
    @include mobile_tablet {
      padding: 0px;
    }
    #brand {
      color: $accent_color;
    }
    .menu_bar {
      display: none;
      border: 1px solid $accent_color;
      height: 40px;
      align-self: center;
      width: 40px;
      @include mobile {
        display: block;
      }
      @include tablet {
        display: block;
      }
    }
    ul {
      list-style-type: none;
      margin: 1em 0 0.5em;
      text-transform: capitalize;
      @include mobile {
        display: none;
      }
      @include tablet {
        display: none;
      }
      li {
        justify-self: space-between;
        display: inline;
        padding: 0.5em 1.5em;
        @include tablet {
          padding: 0.3em 1.3em;
        }
        a {
          color: $accent_color;
          text-decoration: none;
        }
        a:hover {
          color: $secondary_color;
        }
      }
    }
  }
}
// end of header section

// main section
main {
  padding-top: 5%;
  width: 80%;
  margin: auto;
  section#intro {
    // border: 1px solid midnightblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    @include mobile {
      flex-direction: row-reverse;
    }
    #note {
      //   border: 1px solid mediumspringgreen;
      width: 45%;
      height: 40%;
      align-self: center;
      @include mobile {
        width: 100%;
      }
      h2 {
        color: $accent_color;
        font-size: 3.7em;
        line-height: 1.3;
        @include tablet {
          font-size: 1.7em;
        }
        @include mobile {
          font-size: 35px;
        }
      }
      p {
        color: darken($color: $secondary_color, $amount: 20);
        font-size: 1.2em;
        line-height: 1.4;
        @include tablet {
          font-size: 1em;
        }
      }
    }
    #img {
      //   border: 1px solid rebeccapurple;
      width: 50%;
      background: url("../img/blob.svg");
      background-repeat: no-repeat;
      background-position: center;
      @include mobile {
        width: 100%;
      }
      img {
        @include mobile {
          width: 322px;
        }
        @include tablet {
          width: 383px;
        }
      }
    }
  }
  // end of intro
  section#about {
    // border: 1px solid midnightblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    padding-top: 8%;
    #app {
      //   border: 1px solid mediumspringgreen;
      width: 45%;
      height: 40%;
      align-self: center;
      @include mobile {
        width: 100%;
      }
      h3 {
        color: $accent_color;
        font-size: 2em;
        line-height: 1;
        @include mobile {
          font-size: 3em;
        }
      }
      p {
        color: darken($color: $secondary_color, $amount: 20);
        font-size: 1.2em;
        line-height: 1.4;
      }
      .app_features {
        display: flex;
        ul {
          list-style-type: none;
          //   display: inline-flex;
          width: 100%;
          @include mobile {
            padding-left: 0%;
          }
          li {
            margin: 10px;
            color: $accent_color;
            font-weight: bold;
            font-weight: bold;
            width: 100%;
          }
        }
      }
    }
    #aboutus {
      //   border: 1px solid rebeccapurple;
      width: 50%;
      @include mobile {
        width: 100%;
      }
      @include tablet {
        margin-top: 10%;
      }
      img {
        width: 80%;
        height: auto;
        margin: auto;
        @include mobile {
          width: 100%;
          margin: 10% auto;
        }
        @include tablet {
          width: 100%;
          margin: 20% auto;
        }
      }
    }
    //   end of about_us
  }
  // end of about
  section#how {
    // border: 1px solid midnightblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    padding-top: 8%;

    #how_it_works {
      //   border: 1px solid mediumspringgreen;
      width: 30%;
      height: 40%;
      align-self: center;
      margin-top: 20%;
      @include mobile {
        width: 100%;
      }
      @include tablet {
        width: 40%;
      }
      h3 {
        color: $accent_color;
        font-size: 2em;
        line-height: 1;
        @include tablet {
          font-size: 35px;
        }
      }
      p {
        color: darken($color: $secondary_color, $amount: 20);
        font-size: 1.2em;
        line-height: 1.4;
      }
      .how_process {
        p {
          font-size: 14px;
        }
      }
    }

    #truck {
      //   border: 1px solid rebeccapurple;
      width: 70%;
      @include mobile {
        display: none;
      }
      img {
        width: 50%;
        /* height: 100%; */
        margin: auto;
        position: absolute;
        left: 50%;
        @include tablet {
          left: 56%;
        }
      }
    }
    //   end of how
  }
}
// end of main section

// button component
.button {
  padding: 10px 20px;
  min-width: 150px;
  border-radius: 29px;
  color: $primary_color;
  box-shadow: 0px 1px 16px 4px $secondary_color;
  text-transform: capitalize;
}
.button_primary {
  @extend .button;
  background-color: $accent_color;
  border: none;
}
.button_primary:hover {
  background-color: transparent;
  border: 2px solid $accent_color;
  box-shadow: none;
  color: $accent_color;
}
.button_outline {
  @extend .button;
  background: transparent;
  border: 2px solid $accent_color;
  box-shadow: none;
  color: $accent_color;
}
.button_outline:hover {
  background-color: $accent_color;
  border: none;
  color: $primary_color;
  box-shadow: 0px 1px 16px 4px $secondary_color;
}
// end of button component
