/* .column__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: .5rem;
  align-items: flex-start;
//    Uncomment these lines if you want to have the standard Trello behavior instead of the column wrapping 
  grid-auto-flow: column;
  grid-auto-columns: minmax(260px, 1fr);
} 
 */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
body {
  background-color: #ebeaf3;
  width: 100%;
  height: auto 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #3f42aa;
  font-weight: bold;
  text-transform: capitalize;
}

p {
  color: #5058ad;
}

header {
  height: 50px;
  width: inherit;
  padding-top: 10px;
}

@media (min-width: 440px) and (max-width: 840px) {
  header {
    padding: 0px;
  }
}

header nav {
  margin: auto;
  width: 80%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 100px) and (max-width: 840px) {
  header nav {
    padding: 0px;
  }
}

header nav #brand {
  color: #3f42aa;
}

header nav .menu_bar {
  display: none;
  border: 1px solid #3f42aa;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40px;
}

@media (max-width: 440px) {
  header nav .menu_bar {
    display: block;
  }
}

@media (min-width: 440px) and (max-width: 840px) {
  header nav .menu_bar {
    display: block;
  }
}

header nav ul {
  list-style-type: none;
  margin: 1em 0 0.5em;
  text-transform: capitalize;
}

@media (max-width: 440px) {
  header nav ul {
    display: none;
  }
}

@media (min-width: 440px) and (max-width: 840px) {
  header nav ul {
    display: none;
  }
}

header nav ul li {
  -ms-grid-column-align: space-between;
      justify-self: space-between;
  display: inline;
  padding: 0.5em 1.5em;
}

@media (min-width: 440px) and (max-width: 840px) {
  header nav ul li {
    padding: 0.3em 1.3em;
  }
}

header nav ul li a {
  color: #3f42aa;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #959ace;
}

main {
  padding-top: 5%;
  width: 80%;
  margin: auto;
}

main section#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 440px) {
  main section#intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

main section#intro #note {
  width: 45%;
  height: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 440px) {
  main section#intro #note {
    width: 100%;
  }
}

main section#intro #note h2 {
  color: #3f42aa;
  font-size: 3.7em;
  line-height: 1.3;
}

@media (min-width: 440px) and (max-width: 840px) {
  main section#intro #note h2 {
    font-size: 1.7em;
  }
}

@media (max-width: 440px) {
  main section#intro #note h2 {
    font-size: 35px;
  }
}

main section#intro #note p {
  color: #5058ad;
  font-size: 1.2em;
  line-height: 1.4;
}

@media (min-width: 440px) and (max-width: 840px) {
  main section#intro #note p {
    font-size: 1em;
  }
}

main section#intro #img {
  width: 50%;
  background: url("../img/blob.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 440px) {
  main section#intro #img {
    width: 100%;
  }
}

@media (max-width: 440px) {
  main section#intro #img img {
    width: 322px;
  }
}

@media (min-width: 440px) and (max-width: 840px) {
  main section#intro #img img {
    width: 383px;
  }
}

main section#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-top: 8%;
}

main section#about #app {
  width: 45%;
  height: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 440px) {
  main section#about #app {
    width: 100%;
  }
}

main section#about #app h3 {
  color: #3f42aa;
  font-size: 2em;
  line-height: 1;
}

@media (max-width: 440px) {
  main section#about #app h3 {
    font-size: 3em;
  }
}

main section#about #app p {
  color: #5058ad;
  font-size: 1.2em;
  line-height: 1.4;
}

main section#about #app .app_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section#about #app .app_features ul {
  list-style-type: none;
  width: 100%;
}

@media (max-width: 440px) {
  main section#about #app .app_features ul {
    padding-left: 0%;
  }
}

main section#about #app .app_features ul li {
  margin: 10px;
  color: #3f42aa;
  font-weight: bold;
  font-weight: bold;
  width: 100%;
}

main section#about #aboutus {
  width: 50%;
}

@media (max-width: 440px) {
  main section#about #aboutus {
    width: 100%;
  }
}

@media (min-width: 440px) and (max-width: 840px) {
  main section#about #aboutus {
    margin-top: 10%;
  }
}

main section#about #aboutus img {
  width: 80%;
  height: auto;
  margin: auto;
}

@media (max-width: 440px) {
  main section#about #aboutus img {
    width: 100%;
    margin: 10% auto;
  }
}

@media (min-width: 440px) and (max-width: 840px) {
  main section#about #aboutus img {
    width: 100%;
    margin: 20% auto;
  }
}

main section#how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 8%;
}

main section#how #how_it_works {
  width: 30%;
  height: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20%;
}

@media (max-width: 440px) {
  main section#how #how_it_works {
    width: 100%;
  }
}

@media (min-width: 440px) and (max-width: 840px) {
  main section#how #how_it_works {
    width: 40%;
  }
}

main section#how #how_it_works h3 {
  color: #3f42aa;
  font-size: 2em;
  line-height: 1;
}

@media (min-width: 440px) and (max-width: 840px) {
  main section#how #how_it_works h3 {
    font-size: 35px;
  }
}

main section#how #how_it_works p {
  color: #5058ad;
  font-size: 1.2em;
  line-height: 1.4;
}

main section#how #how_it_works .how_process p {
  font-size: 14px;
}

main section#how #truck {
  width: 70%;
}

@media (max-width: 440px) {
  main section#how #truck {
    display: none;
  }
}

main section#how #truck img {
  width: 50%;
  /* height: 100%; */
  margin: auto;
  position: absolute;
  left: 50%;
}

@media (min-width: 440px) and (max-width: 840px) {
  main section#how #truck img {
    left: 56%;
  }
}

.button, .button_primary, .button_outline {
  padding: 10px 20px;
  min-width: 150px;
  border-radius: 29px;
  color: #ebeaf3;
  -webkit-box-shadow: 0px 1px 16px 4px #959ace;
          box-shadow: 0px 1px 16px 4px #959ace;
  text-transform: capitalize;
}

.button_primary {
  background-color: #3f42aa;
  border: none;
}

.button_primary:hover {
  background-color: transparent;
  border: 2px solid #3f42aa;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #3f42aa;
}

.button_outline {
  background: transparent;
  border: 2px solid #3f42aa;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #3f42aa;
}

.button_outline:hover {
  background-color: #3f42aa;
  border: none;
  color: #ebeaf3;
  -webkit-box-shadow: 0px 1px 16px 4px #959ace;
          box-shadow: 0px 1px 16px 4px #959ace;
}
/*# sourceMappingURL=style.css.map */